@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: 'Varela Round', sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #f6f8fd;
  --secondary-color: #ce35dc;
  --color-text: #231942;
  --navbar-color: #ffffff;
  --navbar-color-text: #000000;
}

/* Style Navbar */
.navbar {
  position: fixed;
  padding: 15px 0;
  width: 100%;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  z-index: 999;
  animation-name: fadeInDown;
  animation-duration: 1s;
}

.navbar.color-active {
  background-color: var(--navbar-color);
  padding: 20px 0;
}

.navbar .nav-link a {
  padding: 5px 10px;
  font-weight: 500;
  text-decoration: none;
  color: var(--navbar-color-text);
}

.navbar .nav-link a:hover {
  color: var(--secondary-color)
}

.navbar .nav-link .active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.navbar .nav-link .active:hover {
  color: var(--primary-color);
}

.btn-magenta {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-magenta:hover {
  background-color: #dc34eb;
  color: var(--primary-color);
}

.btn-outline-magenta {
  background: none;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-magenta:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

.btn-skyblue {
  color: var(--color-text);
  border-color: #85a6fb;
  background: #85a6fb;
}

.btn-skyblue:hover {
  color: #fff;
  border-color: #7098ff;
  background: #7098ff;
}

.btn-outline-skyblue {
  color: #85a6fb;
  border-color: #85a6fb;
  background: none;
}

.btn-outline-skyblue:hover {
  color: var(--color-text);
  border-color: #85a6fb;
  background: #85a6fb;
}

/* Style Home Page */
header {
  background: #ffc6fb;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #79d5f7, #86a5fb, #ffc6fb);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #79d5f7, #86a5fb, #ffc6fb);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home .header-box h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--color-text);
}

.home .header-box h1 span {
  font-weight: 700;
}

.home .header-box p {
  line-height: 2;
  color: var(--color-text);
  font-weight: 500;
}

.home .header-box button {}

.home .header-box img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .home .header-box {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 992px) {
  .home .header-box {
    padding-top: 8rem;
  }

  .home .header-box img {
    width: 400px;
    display: block;
    margin-inline: auto;
  }
}

@media screen and (max-width: 575px) {
  .home .header-box h1 {
    font-size: 3rem
  }
}

@media screen and (max-width: 475px) {
  .home .header-box h1 {
    font-size: 2.4rem;
  }

  .home .header-box p {
    font-size: 14px;
  }

  .home .header-box img {
    width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .home .header-box h1 {
    font-size: 2rem;
  }

  .home .header-box p {
    font-size: 12px;
  }
}

/* Homepage section kelas */

.home .kelas {
  background-color: var(--primary-color);
  padding-bottom: 100px
}

.home .kelas .row:nth-child(1) {
  padding-top: 150px;
  padding-bottom: 100px;
}

.home .kelas .row:nth-child(1) h1,
.home .kelas .row:nth-child(1) p {
  color: var(--color-text);
}

.home .kelas .row:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-inline: 10px;
}

.home .kelas .row:nth-child(2) .col {
  background-color: #fff;
  padding: 0;
}

.home .kelas .row:nth-child(2) img {
  height: 250px;
}

.home .kelas .row:nth-child(2) .star i {
  color: gold;
}

.home .kelas .row:nth-child(2) h5 {
  color: var(--color-text);
  font-weight: bold;
  line-height: 1.5;
}

.home .kelas .row:nth-child(3) {
  padding-top: 100px;
}

/* Homepage section testi */
.home .testimonial {
  background-color: var(--primary-color);
}


.home .testimonial h1 {
  color: var(--color-text);
}

.home .testimonial .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
}

.home .testimonial .swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  padding: 20px;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.home .testimonial .swiper-slide:active {
  cursor: grabbing;
}

.home .testimonial .swiper-slide .desc {
  color: var(--color-text);
  font-weight: 500;
  line-height: 2;
  margin-bottom: 50px;
}

.home .testimonial .swiper-slide .people {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.home .testimonial .swiper-slide .people h5,
.home .testimonial .swiper-slide .people span {
  color: var(--color-text);
}

.home .testimonial .swiper-slide .people h5 {
  font-weight: 600;
}

.home .testimonial .swiper-slide .people span {
  color: #cecece;
}

.home .testimonial .swiper-slide .people img {
  width: 80px;
  border-radius: 100%;
}

@media screen and (max-width: 992px) {
  .home .testimonial .swiper {
    padding-inline: 10px;
  }

  .home .testimonial .swiper-slide .people {
    justify-content: center;
  }
}

/* style kelas */
.kelas-page .kelas {
  background: var(--primary-color);
  padding-bottom: 100px;
}

.kelas-page .kelas .row:nth-child(1) {
  padding-top: 150px;
  padding-bottom: 100px;
}

.kelas-page .kelas .row:nth-child(1) h1,
.kelas-page .kelas .row:nth-child(1) p {
  color: var(--color-text);
}

.kelas-page .kelas .row:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-inline: 10px;
}

.kelas-page .kelas .row:nth-child(2) .col {
  background-color: #fff;
  padding: 0;
}

.kelas-page .kelas .row:nth-child(2) img {
  height: 250px;
}

.kelas-page .kelas .row:nth-child(2) .star i {
  color: gold;
}

.kelas-page .kelas .row:nth-child(2) h5 {
  color: var(--color-text);
  font-weight: bold;
  line-height: 1.5;
}

/* style Testimonial */
.testi-page .testimonial {
  background: var(--primary-color);
  padding-top: 150px;
  padding-bottom: 100px;
}

.testi-page .testimonial .row:nth-child(1) h1,
.testi-page .testimonial .row:nth-child(1) p {
  color: var(--color-text);
}

.testi-page .testimonial .row:nth-child(2) .desc {
  color: var(--color-text);
  font-weight: 500;
  line-height: 2;
  margin: 0px;
  padding: 1rem;
  background: white;
}

.testi-page .testimonial .row:nth-child(2) .people {
  background: whitesmoke;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 1rem;
}

.testi-page .testimonial .row:nth-child(2) .people h5,
.testi-page .testimonial .row:nth-child(2) .people span {
  color: var(--color-text);
}

.testi-page .testimonial .row:nth-child(2) .people h5 {
  font-weight: 600;
}

.testi-page .testimonial .row:nth-child(2) .people span {
  color: #a0a0a0;
}

.testi-page .testimonial .row:nth-child(2) .people img {
  width: 80px;
  border-radius: 100%;
}

/* style FAQ  */
.faq-page {
  padding: 50px;
  background-color: var(--primary-color);
}

.faq {
  padding: 100px 0;
  background-color: var(--primary-color);
  color: var(--color-text);
}

.faq .accordion .accordion-button {
  color: var(--color-text);
  font-weight: bold;
  background: white;
  line-height: 1.5;
}

.faq .accordion .accordion-button:focus {
  border: none;
  box-shadow: none;
}

.faq .accordion .accordion-body {
  background: white;
}

/* style syarat & ketentuan */
.syarat-ket-page {
  background: var(--primary-color);
}

.syarat-ket-page .syarat-ketentuan {
  padding: 150px 0;
}

.syarat-ket-page .syarat-ketentuan p {
  line-height: 2;
}


/* style footer */
.footer {
  width: 100%;
  min-height: 40vh;
  padding: 3rem 0;
}

.footer .row:nth-child(1) .col:nth-child(1) h3 {
  color: var(--color-text);
}

.footer .row:nth-child(1) .col:nth-child(1) .desc {
  color: var(--color-text);
  font-size: 14px;
  line-height: 2;
}

.footer .num a,
.footer .mail a {
  display: flex;
  align-items: center;
  color: #000000;
  column-gap: 5px;
}

.footer .num a:hover,
.footer .mail a:hover {
  color: var(--secondary-color);
}

.footer .row:nth-child(1) .col:nth-child(2) {
  gap: 10px;
}

.footer .row:nth-child(1) .col:nth-child(2) a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}

.footer .row:nth-child(1) .col:nth-child(2) a:hover {
  color: var(--secondary-color);
}

.footer .subs {
  display: flex;
  align-items: center;
  gap: 2px;
}

.footer .subs input {
  width: 200px;
  height: 38px;
  padding: 5px;
}

.footer .social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer .social i {
  font-size: 2rem;
  cursor: pointer;
  transition: all .3s ease;
}

.footer .social i:hover {
  color: var(--secondary-color);
}

.footer .row:nth-child(2) {
  margin-top: 100px;
}